
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" />




<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-dark">
  <div class="container-fluid">
              <img src="/imagenes/logo.jpg" alt="" width="52" height="48" class="d-inline-block align-text-top">
    
    <a class="navbar-brand" href="#">DG Consulting Services</a>

 
    <button class="navbar-toggler"  data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

    </button>
    <div class="collapse navbar-collapse" id="navbarNav ">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="/vision" href="/contactosporgestionar">Contactos Registrados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cuentas">Cuentas</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="/crear_caso">Crear nuevo caso  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graficas">graficas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/login">Login</a>  
        </li>ñ

            <li class="nav-item">
  <button class="btn btn-warning ms-2" onclick="window.location.href='/contacto'">Cerrar sesión</button>
</li>

      </ul>
    </div>
  </div>
</nav>