<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>Perfil de Usuario</title>
   <link rel="stylesheet" href="../css/cargarcontacto.css" />

  </head>
  <body>

      
 
       
         
    <%-include ('partials/navegationroles')%>
      
        <label for="filtro-estado"><strong>Filtrar por estado:</strong></label>
        <div class="col-md-4"> 
        <select id="filtro-estado" onchange="cargarContactos()">
          <option value="Todos">Todos</option>
          <option value="Pendiente">Pendiente</option>
          <option value="En trámite">En trámite</option>
          <option value="Tramitado">Tramitado</option>
        </select>
        </div>  
        


  
  

      <h2>Registered contacts</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>País de Origen</th>
            <th>Tipo de Caso</th>
            <th>Mensaje</th>
            <th>Observaciones</th>
            <th>Estado</th>
            <th>Actualizacion</th>
            
          </tr>
        </thead>
        <tbody id="tabla-contactos"></tbody>
      </table>



    <footer>
      <p>&copy; 2024 DG Consulting Services. All rights reserved</p>
    </footer>
  <script src="./script/cargarcontactos.js"></script>
  </body>
</html>