<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
    <link rel="stylesheet" href="../css/contacto.css">
</head>
<body>
 <%-include ('partials/navegationroles')%>


    
  <div class="form-container" style="position: relative;">
    <form action="/contactar" method="post" id="formcontacto">
            <input type="text" class="form-control" id="Tipo_caso" name="tipo-caso" placeholder="Ingrese el tipo de caso" required>
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Last name" required>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Email to receive information" required>
            <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Phone number" required>
            <input type="text" class="form-control" id="paisorigen" name="paisorigen" placeholder="Country of origin">
            <select class="form-select" id="tipocaso" name="tipocaso">
                <option selected disabled>Area of ​​interest</option>
                <option>Civil Law</option>
                <option>Criminal law</option>
                <option>Labor Law</option>
                <option>Others</option>
            </select>
            <textarea class="form-select" id="comentario" name="comentario" placeholder="Descripcion de del caso del cliente ?"></textarea>
            
           
    

            

            <button type="submit" class="btn btn-success">Send</button>  
        </form>


     <% if (typeof mensaje !== 'undefined') { %>
      <div id="mensajeFlotante" class="mensaje-flotante">
        <span id="cerrarMensaje" class="cerrar">&times;</span>
        <p><%= mensaje %></p>
      </div>
     <% } %>

    </div>
  </div>

     <footer>
        <p>&copy; 2024 DG Consulting Services. Todos los derechos reservados.</p>
    </footer>
   

    <script>
    const mensajeFlotante = document.getElementById('mensajeFlotante');
    const cerrarMensaje = document.getElementById('cerrarMensaje');

    if(cerrarMensaje){
      cerrarMensaje.onclick = function(){
        mensajeFlotante.style.display = 'none';
      }
    }
  </script>

  </body>
</html>