<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="../css/cuentas.css" />
  </head>
  <body>
    <%-include ('partials/navegationroles')%>
      
    <div class="col-md-4">
      <label for="buscador"><strong>Buscar:</strong></label>
      <input type="text" id="buscador" placeholder="Buscar en todos los campos..." onkeyup="filtrarTabla()">
    </div>

    <div class="contenedor-tabla">
      <h2>Usuarios</h2> 

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Pais de Origen</th>
          </tr>
        </thead>
        <tbody id="tabla-contactos"></tbody>
      </table>

      <div id="paginacion" style="text-align: center; margin-top: 20px;"></div>
    </div>

    <footer>
      <p>&copy; 2024 DG Consulting Services. All rights reserved</p>
    </footer>

      <script src="./script/cuentas.js"></script>
  </body>
</html>
