<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Contacto</title>
    <link rel="stylesheet" href="../css/detallecontacto.css">
    
</head>
<body>
    <%-include ('partials/navegationroles')%>
    
    <div class="contenedor-detalle">
        <h2>Detalle de Contacto</h2>
        <p detalle>Para ver los detalles de cuenta de un contacto, por favor selecciona un cuenta de la lista.</p>

        <div id="detalle-contacto">
            <!-- Los datos se cargarán aquí con JavaScript -->
            <p>Cargando información...</p>
        </div>
        
        <button onclick="window.history.back()" class="btn-volver">Volver</button>
    </div>

        <footer>
      <p>&copy; 2024 DG Consulting Services. All rights reserved</p>
        </footer>

    <script src="./script/detallecontacto.js"></script>



    </body>
</html>