<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard de Casos</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="../css/graficos.css">
</head>
  <body>
    
    <%-include ('partials/navegationroles')%>
    <div id="loading" class="loading">
      Cargando datos...
    </div>

    <div id="errorContainer" class="error-message" style="display: none;"></div>

    <div id="chartsContainer" class="charts-container" style="display: none;">
      <div class="chart-wrapper">
        <h2 class="chart-title">Distribución por Tipo y Estado</h2>
        <div class="chart-container">
          <canvas id="barChart"></canvas>
        </div>
      </div>
      
      <div class="chart-wrapper">
        <h2 class="chart-title">Distribución por Estado</h2>
        <div class="chart-container">
          <canvas id="pieChart"></canvas>
        </div>
      </div>



    </div>


    <footer>
      <p>&copy; 2024 DG Consulting Services. Todos los derechos reservados</p>
    </footer>


    <script src="./script/graficos.js"></script>
  </body>
</html>
