<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- ... otros meta tags ... -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/detallecaso.css" />
  </head>
  <body>
    <%-include ('partials/navegationroles') %>

    <div id="grafico_container"></div>

   
    <footer>
      <p>&copy; 2024 DG Consulting Services. Todos los derechos reservados</p>
    </footer>
    <script src="./script/graficos.js"></script>
  </body>
</html>
