<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Perfil de Usuario</title>
  <link rel="stylesheet" href="../css/index.css" />

</head>
<body>

    <%-include ('partials/footer')%>

  <section class="hero">
    <div class="overlay">
      <h1>Get the<br>
        <span class="highlight">THE BEST IMMIGRATION LAW SERVICES</span><br>
        VISA AND RESIDENCE PERMIT PROCEDURES
      </h1>
      <p>We are passionate about helping our clients<br>achieve their goals</p>
      <a href="/contacto">
      <button class="btn">Contact Us</button>
      </a>
       
    </div>
  </section>




  <footer>
    <p>&copy; 2024 DG Consulting Services. Todos los derechos reservados.</p>
  </footer>

  
  </body>
</html>