<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oficina de Abogados</title>
    <link rel="stylesheet" href="../css/home.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <h1>DG Consulting Services</h1>
        <nav>
          <ul>
            <li><a href="./home.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./services.html">Services</a></li>
            <li><a href="/contacto">Contact</a></li>
            <li><a href="./loginC.html">Login</a></li>
          </ul>
   
        </nav>
      </div>

    </header>

    <section id="home" class="hero">
      <div class="container">
        <h3>Welcom to Our Office</h3>
        <p>Experts in migration consulting at your service</p>
      </div>
    </section>

  <main>
    <section>
      <h2>Mission</h2>
      <p>To provide comprehensive strategic and operational consulting solutions that drive sustainable growth for our clients through personalized, ethical, and results-oriented services.</p>
    </section>

    <section>
      <h2>Vision</h2>
      <p>To be recognized as a regional leader in business consulting, known for innovation, service quality, and a strong commitment to our clients’ success.</p>
    </section>

    <section>
      <h2>Corporate Values</h2>
      <ul>
        <li><strong>Integrity:</strong> Acting with honesty and ethics in all our relationships.</li>
        <li><strong>Excellence:</strong> Striving for continuous improvement in all our services.</li>
        <li><strong>Responsibility:</strong> Fulfilling our commitments efficiently and transparently.</li>
        <li><strong>Innovation:</strong> Delivering creative and effective solutions to business challenges.</li>
        <li><strong>Collaboration:</strong> Promoting teamwork and building strong relationships with our clients.</li>
      </ul>
    </section>
  </main>


    <footer>
      <div class="container">
        <p>&copy; 2024 DG Consulting Services. All rights reserved.</p>
      </div>
    </footer>

  </body>
</html>
