html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}



body {
  margin: 0;
  padding: 0;
  height: 130vh; /* Ocupa el 100% de la altura de la ventana de visualización */
  background-image: url('https://images.pexels.com/photos/4497200/pexels-photo-4497200.jpeg'); /* Ruta a tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: repeat-y; /* Evita que la imagen se repita */
}


header, footer {
  background-color: #6d6e6c;
  color: #f2d3d0;
  padding: 10px 0;
  text-align: center;
}

header .container,
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno */
    margin: 0; /* Elimina el margen */
    display: flex; /* Usa flexbox para la alineación */
    justify-content: center; /* Centra los elementos de la lista */
}

nav ul li {
    margin: 0 20px;
}

/* Estilos para los navegadores */
nav ul li a {
    color: rgb(247, 241, 241);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem; /* Tamaño del texto de los enlaces */
}


body {
    font-family: Arial, sans-serif;
    margin: 200;
    color: rgb(252, 247, 247);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 40px;
}
.text-content {
    width: 60%;
    padding-left: 70px;
}
.text-content h2 {
    font-size: 40px;
    font-weight: bold;
}

.text-content p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(247, 247, 250);
    
}
.form-container {
    background: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 20px;
    width: 500px;
    color: rgb(25, 25, 27); /* color de autorizacion de datos perosnales */
   
}
.form-container input, .form-container select, .form-container textarea {
    width: 98%;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc; /* color de los cajones del contacto */
    border-radius: 10px;

}
.form-container textarea {
    height: 70px;
}
.form-container button {
    background: rgb(161, 161, 154);
    width: 105%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.form-container button:hover {
    background: rgb(236, 218, 111);
}
.checkbox-container {
    display: flex;
    align-items: center;
    font-size: 12px;
}

/* Estilos para el pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(126, 118, 118);
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;  
}

section {
    padding: 1px 10px;
}

p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*ajusta el titulo para que quede centrado*/
  header .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.form-container {
 position: relative;
}

.mensaje-flotante {
 position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  max-width: 300px;
  z-index: 10;
  font-weight: bold;
  color: rgb(5, 5, 5);
  border: 1px solid;
}

.mensaje-flotante.exito {
 background-color: #4CAF50; /* verde */
 border-color: #388E3C;
}

.mensaje-flotante.error {
  background-color: #f44336; /* rojo */
  border-color: #d32f2f;
}

.cerrar {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(23, 22, 22);
  font-size: 18px;
}

.cerrar:hover {
 color: #07ee0e;
}