html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('https://images.pexels.com/photos/4497200/pexels-photo-4497200.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}




/* Tamaño grande del texto Experts in migration consulting Your Service */
.hero{
    font-size: 100rem; /* Tamaño grande del texto del párrafo */
    font-style: initial; /* Estilo en cursiva */
    justify-content: center;
    text-align: center;

    

}
h3 {
  font-size:xx-large;
  color: #38344d;
  font-size: 3rem; 
}


header .container,
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

main {
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px;
  background-color: rgb(174, 165, 165);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

li {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #261f3e;
}





/* Estilos para el pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(126, 118, 118);
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;  
}
p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #261f3e;
}

h2 {
    font-size:xx-large;
    color: #3e0bf7;
}






