

body {
  display: flex;
  flex-direction: column;
  background-image: url('https://images.pexels.com/photos/4497200/pexels-photo-4497200.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Hero Section mejorada */
.hero {
  font-size: 3.5rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  max-width: 80%;
}

h2 {
  font-size: 2.5rem;
  color: #3e0bf7;
  text-align: center;
  margin: 1.5rem 0;
}

h3 {
  font-size: 2rem; 
  color: #38344d;
  margin: 1rem 0;
}

header .container,
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

main {
  flex: 3;
  max-width: 1000px;
  margin: 40px auto;
  padding: 40px;
  background-color: rgba(174, 165, 165, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

li {
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #261f3e;
  margin-bottom: 1.5rem;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #343a40;
  color: white;
  position: fixed;
  Bottom: 0;
  width: 100%;
}