body {
  margin: 0;
  padding: 0;
  height: 80vh; /* Ocupa el 100% de la altura de la ventana de visualización */
  background-image: url('https://images.pexels.com/photos/4497200/pexels-photo-4497200.jpeg'); /* Ruta a tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

header, footer {
  background-color: #6d6e6c;
  color: #f2d3d0;
  padding: 10px 0;
  text-align: center;
}

header .container,
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

nav ul {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el relleno */
  margin: 0; /* Elimina el margen */
  display: flex; /* Usa flexbox para la alineación */
  justify-content: center; /* Centra los elementos de la lista */
}

nav ul li {
  margin: 0 20px;
}

/* Estilos para los navegadores */
nav ul li a {
  color: rgb(247, 241, 241);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem; /* Tamaño del texto de los enlaces */
}


.login-container {
  /* Estilos para el contenedor principal */
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra horizontalmente */
  margin: 0 auto; /* Márgenes para centrar en la página */
}



/* cajas de los imput  */
form input, form textarea {
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #1d027e;
  border-radius: 15px;
  background-color: #f8f2f2;
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra horizontalmente los elementos */
  width: 400px; /* Ancho opcional del formulario */
  margin: 0 auto; /* Centra las cajas de imput*/

}

/*estilo login*/
form button {
  background-color: #280980;
  color: #f8f2f2;
  border: none;
  padding: 20px 5%;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra horizontalmente los elementos */
  width: 400px; /* Ancho opcional del formulario */
  margin: 0 auto; /* Centra la caja de login*/
}



/* Estilos para el pie de página */
footer {
  background-color: rgba(60, 59, 88, 0.7);
  color: rgb(126, 118, 118);
  text-align: center;
  padding: 10px 20px;
  margin-top: auto;  
}

.input-group {
  margin-bottom: 35px; /* Espacio entre campos */
}

.login-container {
  margin-bottom: 200px; /* Espacio entre el login y el footer */
}





