html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('https://images.pexels.com/photos/4497200/pexels-photo-4497200.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}



.login-container {
    text-align: center;
    
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
}



.login-container {
  /* Estilos para el contenedor principal */
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra horizontalmente */
  margin: 0 auto; /* Márgenes para centrar en la página */
  
}



/* cajas de los imput  */
form input, form textarea {

  padding: 10px;
  border: 1px solid #c4bfd6;
  border-radius: 20px;
  background-color: #f8f2f2;
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra horizontalmente los elementos */
  width: 400px; /* Ancho opcional del formulario */
  margin:  auto; /* Centra las cajas de imput*/

}

/*estilo login*/
form button {
  background-color: #280980;
  color: #f8f2f2;
  border: none;
  padding: 20px 5%;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra horizontalmente los elementos */
  width: 400px; /* Ancho opcional del formulario */
  margin: 0 auto; /* Centra la caja de login*/
}



/* Estilos para el pie de página */


.input-group {
  margin-bottom: 45px; /* Espacio entre campos */
}

.login-container {
  margin-bottom: 200px; /* Espacio entre el login y el footer */
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #343a40;
  color: white;
  position: fixed;
  Bottom: 0;
  width: 100%;
p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #eeeef1;
}





