html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


body {
    display: flex;
    flex-direction: column;
   /* background-image: url('https://images.pexels.com/photos/4497200/pexels-photo-4497200.jpeg');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}




footer.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conta {
display: flex;
gap: 30px; /* Espacio entre los cuadros */
}
.image-box {
width: 500px; /* Ancho de los cuadros */
height: 200px; /* Alto de los cuadros */
overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del borde */
border-radius: 15px; /* Bordes redondeados (opcional) */
}
.image-box img {
width: 100%; /* Asegura que la imagen cubra todo el cuadro */
height: 100%;
object-fit: cover; /* Ajusta la imagen para que cubra el cuadro sin distorsionar */
}


/* Estilos para el formulario de contacto */
form {
    display: flex;
    flex-direction: column;
}

/* cajas de los imput  */
form input, form textarea {
    margin-bottom: 1px;
    padding: 10px;
    border: 1px solid #24078f;
    border-radius: 5px;
    background-color: #eee9e9;

}

form button {
    background-color: #0a090a;
    color: rgb(231, 223, 223);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #343a40;
    color: white;
    position: fixed;
    Bottom: 0;
    width: 100%;

section {
    padding: 1px 10px;
}

p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size:xx-large;
    color: #24078f;
}

h3{
    font-size: xx-large;
    color: darkgreen;
    text-align: center; /* Centra el texto dentro del encabezado */
}

/* Estilos básicos para el título y el contenido desplegable */
.accordion {
background-color: #f1f1f1;
border: 1px solid #ccc;
border-radius: 5px;
margin: 10px 0;
}
        
.accordion-header {
padding: 10px;
cursor: pointer;
text-align: left;
font-weight: bold;
border-radius: 5px;
}
        
.accordion-content {
display: none; /* Ocultar el contenido por defecto */
padding: 10px;
border-top: 1px solid #10eb08;
text-align: center; /* Centra el texto dentro del encabezado */

}